In [46]:
import  pandas as pd
from data_generator.dataset_generator import set_labels_for_age

In [47]:
df = pd.read_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_clean.csv', index_col=0)

In [48]:
df_age = set_labels_for_age(df).sample(frac=1).reset_index(drop=True)

In [49]:
df_age.head()

                                          image_name  class_id
0  imdb/45/nm0876645_rm1932442112_1959-3-14_1999.jpg        40
1  imdb/45/nm1295245_rm2855187968_1985-3-16_2011.jpg        26
2   imdb/56/nm0005256_rm858435072_1971-4-28_2012.jpg        41
3   imdb/32/nm0852132_rm676826112_1971-7-30_2004.jpg        33
4  imdb/27/nm0001427_rm3004406528_1963-6-17_2000.jpg        37

In [50]:
df_age.to_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_age_regression.csv')

In [51]:
df_age['class_id_anom']=df_age.class_id - df_age.class_id.mean()

In [52]:
df_age.class_id.sum()

1852744

In [53]:
df_age['class_id_new']=df_age.class_id_anom/df_age.class_id.sum()

In [54]:
df_age_anom = df_age[['image_name', 'class_id_new']]

In [55]:
df_age_anom.rename(columns={'class_id_new':'class_id'}, inplace=True)

/usr/local/lib/python3.5/dist-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [56]:
df_age_anom.head()

                                          image_name      class_id
0  imdb/45/nm0876645_rm1932442112_1959-3-14_1999.jpg  7.345416e-07
1  imdb/45/nm1295245_rm2855187968_1985-3-16_2011.jpg -6.821818e-06
2   imdb/56/nm0005256_rm858435072_1971-4-28_2012.jpg  1.274282e-06
3   imdb/32/nm0852132_rm676826112_1971-7-30_2004.jpg -3.043638e-06
4  imdb/27/nm0001427_rm3004406528_1963-6-17_2000.jpg -8.846783e-07

In [57]:
df_age_anom.to_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_age_regression_anom.csv')