In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_age_regression.csv', index_col=0)

In [3]:
df.head(6)

                                          image_name  class_id
0  imdb/45/nm0876645_rm1932442112_1959-3-14_1999.jpg        40
1  imdb/45/nm1295245_rm2855187968_1985-3-16_2011.jpg        26
2   imdb/56/nm0005256_rm858435072_1971-4-28_2012.jpg        41
3   imdb/32/nm0852132_rm676826112_1971-7-30_2004.jpg        33
4  imdb/27/nm0001427_rm3004406528_1963-6-17_2000.jpg        37
5  imdb/32/nm0000932_rm1265218304_1966-8-14_2011.jpg        45

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
enc = OneHotEncoder(sparse=False)

In [6]:
ohe_values = enc.fit_transform(df['class_id'].values.reshape(-1,1))

In [7]:
len(ohe_values[0])

100

In [8]:
for i in range(len(ohe_values[0])):
    df['class_id'+str(i)] = 0

In [9]:
df.loc[:,'class_id0':] = ohe_values

In [10]:
df.loc[:, 'class_id0':] = df.loc[:, 'class_id0':].astype(int)

In [11]:
df.drop('class_id', inplace=True, axis=1)

In [12]:
df.to_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_age_classification-100.csv')