In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('callbacks/vgg16/age/consolidados/history-regression-abordagem7-relu.csv')

In [4]:
df.head()

   epoch       loss  mean_squared_error   val_loss  val_mean_squared_error
0      0  14.779488         4331.853675  11.217153              203.733874
1      1  11.329389          214.109514  11.246205              202.965223
2      2  11.341390          214.248915  11.175663              209.132454
3      3  11.303812          212.955136  11.199557              211.091900
4      4  11.289758          212.863905  11.225267              213.065495

In [5]:
df.sort_values('val_loss')

    epoch       loss  mean_squared_error   val_loss  val_mean_squared_error
21     21  11.261584          211.756307  11.160434              205.354216
12     12  11.268622          212.459837  11.162914              206.010868
40     40  11.257905          211.807298  11.163528              206.136413
51     51  11.253587          211.591974  11.163817              206.196320
20     20  11.261914          211.616959  11.164110              206.257712
17     17  11.268606          211.942060  11.164243              206.285539
33     33  11.255685          211.510306  11.164477              205.069654
37     37  11.256181          211.753090  11.164972              205.036006
46     46  11.258494          211.654654  11.165448              205.003917
36     36  11.262160          211.944003  11.165725              204.985355
47     47  11.258243          211.782776  11.165792              206.620845
44     44  11.255575          211.804130  11.166568              206.794708
18     18  11.274201          212.315910  11.166648              204.924200
41     41  11.258694          211.856251  11.168787              207.314219
42     42  11.262678          211.939350  11.169177              207.408764
43     43  11.256646          211.755442  11.169727              204.726727
49     49  11.255185          211.499957  11.170030              207.619561
48     48  11.253800          211.280448  11.170698              207.787776
39     39  11.258732          211.720324  11.170839              207.823621
27     27  11.271594          212.133487  11.172536              208.266515
8       8  11.278888          212.491934  11.175525              209.092818
38     38  11.258768          211.736496  11.175546              209.098872
2       2  11.341390          214.248915  11.175663              209.132454
45     45  11.260258          211.745962  11.176263              209.306141
5       5  11.280178          212.657265  11.176293              204.340341
24     24  11.260722          211.693738  11.176481              209.369777
26     26  11.271618          211.968510  11.181953              209.863887
34     34  11.257965          211.656774  11.182723              209.915500
35     35  11.263506          211.804352  11.182839              204.002113
30     30  11.259742          211.543996  11.184623              210.043705
16     16  11.267915          212.100568  11.184985              210.068280
31     31  11.259815          211.682626  11.185092              210.075551
28     28  11.260196          211.677538  11.185095              210.075757
14     14  11.274110          212.253692  11.186149              203.848914
32     32  11.260729          211.766338  11.186212              203.846123
11     11  11.271831          212.009839  11.186458              203.835230
19     19  11.267085          212.105033  11.192513              210.588475
9       9  11.266193          212.015256  11.196522              210.873017
50     50  11.251478          211.608172  11.196962              210.904607
25     25  11.260531          212.061605  11.197733              210.960021
3       3  11.303812          212.955136  11.199557              211.091900
0       0  14.779488         4331.853675  11.217153              203.733874
23     23  11.268352          212.078463  11.217630              212.456945
10     10  11.283225          212.407186  11.221972              212.800658
22     22  11.259750          211.835419  11.224290              212.986600
4       4  11.289758          212.863905  11.225267              213.065495
13     13  11.278943          212.375713  11.228717              213.346655
29     29  11.257183          211.802879  11.231570              203.026041
15     15  11.276363          212.476389  11.231758              213.597582
1       1  11.329389          214.109514  11.246205              202.965223
7       7  11.284101          212.416339  11.258729              202.945619
6       6  11.303996          213.226933  11.418821              204.284690