In [2]:
import pandas as pd

In [89]:
df = pd.read_csv('graficos/results_teste.csv', index_col=0)

In [92]:
df.sort_values('MAE')

   Ativação           FASE        MAE       RMSE     Rede  Epoca
0      relu  image-treat-1  10.537234  13.553820    lenet      4
2      relu  image-treat-1  11.032492  13.764649  alexnet      5
6      relu  image-treat-2  11.591327  14.595028  alexnet     16
10     relu  image-treat-3  13.098314  15.884113  alexnet      7
7     lrelu  image-treat-2  28.062363  31.811022  alexnet     16
11    lrelu  image-treat-3  35.250238  38.044025  alexnet     18
4      relu  image-treat-2  37.854424  40.272234    lenet     39
9     lrelu  image-treat-3  38.261533  40.855255    lenet     38
1     lrelu  image-treat-1  38.330450  40.826534    lenet      8
5     lrelu  image-treat-2  38.501557  41.065953    lenet     21
8      relu  image-treat-3  38.656497  41.200746    lenet     46
3     lrelu  image-treat-1  39.278125  41.974881  alexnet      5

In [91]:
df.sort_values(by='RMSE')

   Ativação           FASE        MAE       RMSE     Rede  Epoca
0      relu  image-treat-1  10.537234  13.553820    lenet      4
2      relu  image-treat-1  11.032492  13.764649  alexnet      5
6      relu  image-treat-2  11.591327  14.595028  alexnet     16
10     relu  image-treat-3  13.098314  15.884113  alexnet      7
7     lrelu  image-treat-2  28.062363  31.811022  alexnet     16
11    lrelu  image-treat-3  35.250238  38.044025  alexnet     18
4      relu  image-treat-2  37.854424  40.272234    lenet     39
1     lrelu  image-treat-1  38.330450  40.826534    lenet      8
9     lrelu  image-treat-3  38.261533  40.855255    lenet     38
5     lrelu  image-treat-2  38.501557  41.065953    lenet     21
8      relu  image-treat-3  38.656497  41.200746    lenet     46
3     lrelu  image-treat-1  39.278125  41.974881  alexnet      5

## Ajeitando épocas

In [9]:
import glob

In [17]:
net, img_treat, activation ='lenet', 'image-treat-1', 'lrelu'

In [20]:
weights_path = glob.glob('callbacks/' + net + '/age/consolidados/class-weights-' + img_treat + '-' + activation + '*')[0]

In [40]:
weights_path

'callbacks/lenet/age/consolidados/class-weights-image-treat-1-relu.03-169.37.hdf5'

In [43]:
weights_path.find(activation)+len(activation)+2

67

In [46]:
start = weights_path.find(activation)+len(activation)+1
end = start + 2
weights_path[start:end]

'03'

In [56]:
df_results = pd.read_csv('graficos/results_teste.csv', index_col=0)

In [57]:
df_results['Epoca']+

In [58]:
df_results.loc[df_results['Ativação'] == activation].loc[df_results['FASE']==img_treat].loc[df_results['Rede']==net]

  Ativação           FASE        MAE      RMSE   Rede  Epoca
0     relu  image-treat-1  10.537234  13.55382  lenet      0

In [65]:
epoca

17

In [64]:
df_results.loc[df_results['Ativação'] == activation].loc[df_results['FASE']==img_treat].loc[df_results['Rede']==net].loc[:,'Epoca'] = epoca

In [67]:
indice = df_results.loc[df_results['Ativação'] == activation].loc[df_results['FASE']==img_treat].loc[df_results['Rede']==net].index#.loc[:,'Epoca']

In [69]:
df_results.loc[indice, 'Epoca']

11    0
Name: Epoca, dtype: int64

In [71]:
activations = ['relu', 'lrelu']
img_treats=['image-treat-1', 'image-treat-2', 'image-treat-3']
nets = ['lenet', 'alexnet']

for img_treat in img_treats:
    for net in nets:
        for activation in activations:

            
            weights_path = glob.glob('callbacks/' + net + '/age/consolidados/class-weights-' + img_treat + '-' + activation + '*')[0]
            start = weights_path.find(activation)+len(activation)+1
            end = start + 2
            epoca = int(weights_path[start:end])
            indice = df_results.loc[df_results['Ativação'] == activation].loc[df_results['FASE']==img_treat].loc[df_results['Rede']==net].index
           
            df_results.loc[indice, 'Epoca'] = epoca

            #df_results.to_csv('graficos/results_teste_' + img_treat + '.csv', index_col=0)
            df_results.to_csv('graficos/results_teste.csv')

In [72]:
df_results

   Ativação           FASE        MAE       RMSE     Rede  Epoca
0      relu  image-treat-1  10.537234  13.553820    lenet      3
1     lrelu  image-treat-1  38.330450  40.826534    lenet      7
2      relu  image-treat-1  11.032492  13.764649  alexnet      4
3     lrelu  image-treat-1  39.278125  41.974881  alexnet      4
4      relu  image-treat-2  37.854424  40.272234    lenet     38
5     lrelu  image-treat-2  38.501557  41.065953    lenet     20
6      relu  image-treat-2  11.591327  14.595028  alexnet     15
7     lrelu  image-treat-2  28.062363  31.811022  alexnet     15
8      relu  image-treat-3  38.656497  41.200746    lenet     45
9     lrelu  image-treat-3  38.261533  40.855255    lenet     37
10     relu  image-treat-3  13.098314  15.884113  alexnet      6
11    lrelu  image-treat-3  35.250238  38.044025  alexnet     17

In [86]:
df['Epoca']+=1

In [87]:
df['Epoca']

0      4
1      8
2      5
3      5
4     39
5     21
6     16
7     16
8     46
9     38
10     7
11    18
Name: Epoca, dtype: int64

In [88]:
df.to_csv('graficos/results_teste.csv')